@primary-bg: #FBF0F8;
@primary-color: #CF374A;
@star: blue;

body {line-height:120%;}
.container.main {
  //
}
h3 {
  color:@primary-color; text-align:center;
}
.nobr {
  white-space: nowrap;
}
#header {
  position:fixed; left:0;top:0; width:100%;
  text-align:left; z-index:2;
  .navbar-brand {
    color:@primary-color; line-height:100%; padding:0;
    img {margin-right:10px;}
  }
  nav.bg-light {
    background:@primary-bg!important; align-items:center;
    border-bottom:2px solid @primary-color;
  }
}
#footer {
  position:fixed; left:0;bottom:0; width:100%; background:black; color:white;
  text-align:center; z-index:3;
  .link-wrapper {
    display:inline-block;
    .links {
      line-height:30px; padding:15px 0;
      text-align:center;
      display:flex; flex-direction:row; flex-wrap: nowrap;
      .item {
        margin:0 10px;  
        &.contact {
          display:flex; flex-direction:row;
          align-items: center; margin-right:10px;
          i {margin-right:5px;}
        }
      }    
    }
  }
}
.stars {
  margin-top:20px;
  .star {
    position:relative; padding-left:20px; line-height:100%; margin-bottom:4px; font-size:14px; color:#666;
    .item {color:@star; font-weight: bold; position: absolute; top:0; left:0; font-size:14px;}
  }
}
.starin {color:@star; font-weight: bold; font-size:14px; position:relative; top:-2px;}
.block-wrapper {
  padding:15px 0;
  .block {
    background:@primary-bg;
    padding:15px; border-radius:0px;
    margin:0px 15px 30px 15px;
    .title {font-weight:bold; font-size:18px; margin-bottom:15px;}
  }
}
#pages {
  border:1px solid @primary-bg;
  padding:70px 0 80px 0; background:rgba(240,240,240,0.3);
  min-height: calc(100vh - 0px);
  ul {
    margin:10px 0; padding-left:6px;
    li {
      margin:10px;
      list-style-image: url("../images/bullet.jpg");
    }
  }
}
/* +--------------------------+
   |
   | PAGE Accueil 
   |
   +--------------------------+ */
.page-accueil {
  h1 {
    margin:15px 10px 15px 10px; line-height:normal; text-align:center; color:@primary-color;
    line-height:100%;
    .assoc {color:#777;}
  }
  .address {
    color:#666; position:relative; text-align:center; margin:15px 0 25px 0;
    a {
      color:#666;
      &:hover {text-decoration:underline;}
    }
  }
  .propose {margin:15px 0; text-align:center;}
  .central {    
    .block-wrapper {
      background:@primary-bg url("../images/logo.jpg") no-repeat right top;
      background-size:contain;
      padding:15px 0 15px 0;
      .block {
        padding:5px 15px; border-radius:8px; max-width:700px;
        margin-bottom:35px; background:none;
        .title {font-weight:bold; font-size:18px;}
      }
    }
    .image {
      img {max-width:100%; }
    }
  }
  .instructors {
    margin:40px 15px; border:1px solid #ddd; width:100%;
    max-width:100%; width: auto; background:white;
    line-height:normal;
    thead {
      th {font-weight: normal;}
    }
    thead th {border:none;}
    .person {  
      vertical-align:center;
      a {
        display:flex; flex-direction:row; flex-wrap: nowrap; align-items:center;
        &.with-icon {      
          .icon { 
            margin-right:5px;            
            img {width:35px; border-radius:50%;}
          }
        }
      }
      white-space: nowrap; min-width:130px;
    }
  }
  .final-remark {
    margin:30px 0; font-size:18px; font-weight:bold; text-align:center; line-height:normal;
  }
}
.number {
  text-align:right;
}

/* +--------------------------+
   |
   | Modal Definitions
   |
   +--------------------------+ 
*/
.pop {
  cursor:pointer;color:@primary-color;
  &:hover {xopacity:0.7; text-decoration:underline;}
}
#modalDefinitions {
  .modal-header {
    position:relative; padding-right:20px;
    .close {
      position:absolute; top:22px; right:17px;
    }
  }
  .subtitle {color:gray;line-height:100%;}
  .source {
    margin-top:15px; font-size:12px; color:gray;
  }
  @media screen and (max-width: 500px) {
    .modal-header {
      .modal-title {
        font-size: 20px;
        .subtitle {font-size:12px;}
      }
      .close {top:19px;}
    }
    .modal-body {
      font-size:14px;
    }
  }  
}
/* +--------------------------+
   |
   | PAGE Tarifs
   |
   +--------------------------+ 
*/
.page-tarifs {
  .tarif-table {
    margin:10px 0;
  }
  tr {
    height:70px;
    td {vertical-align:middle;}
    &.obligatoire {
      td {background:@primary-color; color:white;}
    }
  }

}
/* +--------------------------+
   |
   | PAGE Contact
   |
   +--------------------------+ 
*/
.page-contact {
  font-size:18px;
  .e-mail {
    margin:30px 0;
  }
  .address {
    line-height:150%;
    margin:30px 0;  
    .subtitle {color:gray;}
  }
  iframe.streetmap {
    width:100%;
    aspect-ratio: auto 3 / 2;
  }
}
/* +--------------------------+
   |
   | PAGE Presentation
   |
   +--------------------------+ 
*/
.page-presentation {
  .block {
    min-height:100px;
    .with-icon {
      padding-right:130px; position: relative;
      .icon {
        position: absolute; top:0; right:0;
        img {border-radius:50%; width:110px;}
      }
      @media screen and (max-width: 450px) {   
        padding-right:70px; 
        .icon {     
          img {width:60px;}
        }
      }
    }
    .item {margin-bottom:25px;}
  }
}

@media screen and (max-width: 1200px) {
  .container {width:100%; max-width:100%; padding:0;}
  .page-accueil {
    .central {    
      .block-wrapper {
        background:@primary-bg url("../images/logo-nb.jpg") no-repeat right 30px top 30px;
      }
    }
  }
}
@media screen and (max-width: 990px) {
  .navbar-nav.mr-auto {
    background:@primary-color; margin-top:3px;
    padding:15px;
    .nav-item {
      a {
        color:white;
        &.active,&:hover {color:black;}
      }
    }

  }
}
@media screen and (max-width: 850px) {
  .page-accueil {
    .central {    
      .block-wrapper {
        .block {
          max-width:75%; padding-left:0;pading-right:0;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  #footer {
    .link-wrapper {
      .links {
        .item {
          margin:0 5px;
          i.fa-2x {font-size:14px;}
        }
      }
    }    
  }
  .page-accueil {
    h1{font-size:24px; xfont-weight:bold;}
    .central {    
      .block-wrapper {
        background:@primary-bg;
        .block {
          max-width:100%;
        }
      }
    }
    .instructors {
      margin:30px 10px;
      td {
        display:block;
      }
      .person {border-bottom:none; padding-bottom:10px;}
      .skill {border-top:none; padding-top:0;}
    }
  }
}
