body {
  line-height: 120%;
}
h3 {
  color: #CF374A;
  text-align: center;
}
.nobr {
  white-space: nowrap;
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: left;
  z-index: 2;
}
#header .navbar-brand {
  color: #CF374A;
  line-height: 100%;
  padding: 0;
}
#header .navbar-brand img {
  margin-right: 10px;
}
#header nav.bg-light {
  background: #FBF0F8 !important;
  align-items: center;
  border-bottom: 2px solid #CF374A;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  z-index: 3;
}
#footer .link-wrapper {
  display: inline-block;
}
#footer .link-wrapper .links {
  line-height: 30px;
  padding: 15px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#footer .link-wrapper .links .item {
  margin: 0 10px;
}
#footer .link-wrapper .links .item.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}
#footer .link-wrapper .links .item.contact i {
  margin-right: 5px;
}
.stars {
  margin-top: 20px;
}
.stars .star {
  position: relative;
  padding-left: 20px;
  line-height: 100%;
  margin-bottom: 4px;
  font-size: 14px;
  color: #666;
}
.stars .star .item {
  color: blue;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
}
.starin {
  color: blue;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: -2px;
}
.block-wrapper {
  padding: 15px 0;
}
.block-wrapper .block {
  background: #FBF0F8;
  padding: 15px;
  border-radius: 0px;
  margin: 0px 15px 30px 15px;
}
.block-wrapper .block .title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}
#pages {
  border: 1px solid #FBF0F8;
  padding: 70px 0 80px 0;
  background: rgba(240, 240, 240, 0.3);
  min-height: calc(100vh - 0px);
}
#pages ul {
  margin: 10px 0;
  padding-left: 5px;
}
#pages ul li {
  margin: 10px;
  list-style-image: url("../images/bullet.jpg");
}
/* +--------------------------+
   |
   | PAGE Accueil 
   |
   +--------------------------+ */
.page-accueil h1 {
  margin: 15px 10px 15px 10px;
  line-height: normal;
  text-align: center;
  color: #CF374A;
  line-height: 100%;
}
.page-accueil h1 .assoc {
  color: #777;
}
.page-accueil .address {
  color: #666;
  position: relative;
  text-align: center;
  margin: 15px 0 25px 0;
}
.page-accueil .propose {
  margin: 15px 0;
  text-align: center;
}
.page-accueil .central .block-wrapper {
  background: #FBF0F8 url("../images/logo.jpg") no-repeat right top;
  background-size: contain;
  padding: 15px 0 15px 0;
}
.page-accueil .central .block-wrapper .block {
  padding: 5px 15px;
  border-radius: 8px;
  max-width: 700px;
  margin-bottom: 35px;
  background: none;
}
.page-accueil .central .block-wrapper .block .title {
  font-weight: bold;
  font-size: 18px;
}
.page-accueil .central .image img {
  max-width: 100%;
}
.page-accueil .instructors {
  margin: 40px 15px;
  border: 1px solid #ddd;
  max-width: 100%;
  width: auto;
  background: white;
  line-height: 100%;
}
.page-accueil .instructors thead th {
  font-weight: normal;
}
.page-accueil .instructors thead th {
  border: none;
}
.page-accueil .instructors .person {
  font-weight: bold;
  white-space: nowrap;
  min-width: 130px;
}
.page-accueil .final-remark {
  margin: 30px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.number {
  text-align: right;
}
/* +--------------------------+
   |
   | PAGE Tarifs
   |
   +--------------------------+ 
*/
.page-tarifs .tarif-table {
  margin: 10px 0;
}
.page-tarifs tr {
  height: 70px;
}
.page-tarifs tr td {
  vertical-align: middle;
}
.page-tarifs tr.obligatoire td {
  background: #CF374A;
  color: white;
}
/* +--------------------------+
   |
   | PAGE Contact
   |
   +--------------------------+ 
*/
.page-contact {
  font-size: 18px;
}
.page-contact .e-mail {
  margin: 30px 0;
}
.page-contact .address {
  line-height: 150%;
  margin: 30px 0;
}
.page-contact .address .subtitle {
  color: gray;
}
/* +--------------------------+
   |
   | PAGE Presentation
   |
   +--------------------------+ 
*/
.page-presentation .block {
  min-height: 100px;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .page-accueil .central .block-wrapper {
    background: #FBF0F8 url("../images/logo-nb.jpg") no-repeat right 30px top 30px;
  }
}
@media screen and (max-width: 990px) {
  .navbar-nav.mr-auto {
    background: #CF374A;
    margin-top: 3px;
    padding: 15px;
  }
  .navbar-nav.mr-auto .nav-item a {
    color: white;
  }
  .navbar-nav.mr-auto .nav-item a.active,
  .navbar-nav.mr-auto .nav-item a:hover {
    color: black;
  }
}
@media screen and (max-width: 850px) {
  .page-accueil .central .block-wrapper .block {
    max-width: 75%;
  }
}
@media screen and (max-width: 450px) {
  #footer .link-wrapper .links .item {
    margin: 0 5px;
  }
  #footer .link-wrapper .links .item i.fa-2x {
    font-size: 14px;
  }
  .page-accueil h1 {
    font-size: 24px;
    xfont-weight: bold;
  }
  .page-accueil .central .block-wrapper {
    background: #FBF0F8;
  }
  .page-accueil .central .block-wrapper .block {
    max-width: 100%;
  }
  .page-accueil .instructors {
    margin: 30px 10px;
  }
  .page-accueil .instructors td {
    display: block;
  }
  .page-accueil .instructors .person {
    border-bottom: none;
    padding-bottom: 10px;
  }
  .page-accueil .instructors .skill {
    border-top: none;
    padding-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */