body {
  line-height: 120%;
}
h3 {
  color: #CF374A;
  text-align: center;
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
}
#header .navbar-brand {
  color: #CF374A;
}
#header nav.bg-light {
  background: #FBF0F8 !important;
  border-bottom: 2px solid #CF374A;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  z-index: 3;
}
#footer .link-wrapper {
  display: inline-block;
}
#footer .link-wrapper .links {
  line-height: 30px;
  padding: 15px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#footer .link-wrapper .links .item {
  margin: 0 10px;
}
#footer .link-wrapper .links .item.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}
#footer .link-wrapper .links .item.contact i {
  margin-right: 5px;
}
.stars {
  margin-top: 20px;
}
.stars .star {
  position: relative;
  padding-left: 20px;
  line-height: 100%;
  margin-bottom: 4px;
  font-size: 14px;
  color: #666;
}
.stars .star .item {
  color: darkblue;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}
.starin {
  color: darkblue;
  font-weight: bold;
}
.final-remark {
  margin: 30px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
#pages {
  border: 1px solid #FBF0F8;
  padding: 70px 0 80px 0;
  background: rgba(240, 240, 240, 0.3);
  min-height: calc(100vh - 0px);
}
#pages ul {
  margin: 10px 0;
  padding-left: 5px;
}
#pages ul li {
  margin: 10px;
  list-style-image: url("../images/bullet.jpg");
}
.page-accueil h1 {
  margin: 15px 10px 0 10px;
  line-height: normal;
  text-align: center;
  color: #CF374A;
}
.page-accueil .address {
  color: #666;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
.page-accueil .propose {
  margin: 15px 0;
  text-align: center;
}
.page-accueil .central .block-wrapper {
  background: #FBF0F8 url("../images/logo.jpg") no-repeat right top;
  background-size: contain;
  padding: 15px 0;
}
.page-accueil .central .block-wrapper .block {
  padding: 5px 15px;
  border-radius: 8px;
  max-width: 700px;
  margin-bottom: 25px;
}
.page-accueil .central .block-wrapper .block .title {
  font-weight: bold;
  font-size: 18px;
}
.page-accueil .central .image img {
  max-width: 100%;
}
.page-accueil .instructors {
  margin: 40px 15px;
  border: 1px solid #ddd;
  max-width: 100%;
  width: auto;
  background: white;
  line-height: 100%;
}
.page-accueil .instructors thead th {
  font-weight: normal;
}
.page-accueil .instructors thead th {
  border: none;
}
.page-accueil .instructors .person {
  font-weight: bold;
  white-space: nowrap;
  min-width: 130px;
}
.number {
  text-align: right;
}
.page-tarifs,
.page-contact {
  padding: 15px;
}
.page-tarifs .tarif-table {
  margin-top: 30px;
}
.page-tarifs tr.obligatoire td {
  background: #aaa;
}
.page-contact .block-wrapper {
  text-align: center;
}
.page-contact .block-wrapper .block {
  max-width: 600px;
  text-align: left;
  margin: 40px auto;
}
@media screen and (max-width: 450px) {
  #footer .link-wrapper .links .item {
    margin: 0 5px;
  }
  #footer .link-wrapper .links .item i.fa-2x {
    font-size: 14px;
  }
  .page-accueil h1 {
    font-size: 17px;
    font-weight: bold;
  }
  .page-accueil .central .block-wrapper {
    background: #FBF0F8;
  }
  .page-accueil .instructors {
    margin: 30px 10px;
  }
  .page-accueil .instructors td {
    xfont-size: 14px;
    display: block;
  }
  .page-accueil .instructors .person {
    border-bottom: none;
    padding-bottom: 10px;
  }
  .page-accueil .instructors .skill {
    border-top: none;
    padding-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */